{%- from "kubernetes/map.jinja" import kubernetes_settings with context %}
apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ kubernetes_settings.kubeconfig.ca_file }}
    server: {{ kubernetes_settings.kubeconfig.api_server }}
  name: {{ kubernetes_settings.kubeconfig.cluster }}
contexts:
- context:
    cluster: {{ kubernetes_settings.kubeconfig.cluster }}
    user: {{ kubernetes_settings.kubeconfig.user }}
  name: default-context
current-context: default-context
kind: Config
preferences: {}
users:
- name: {{ kubernetes_settings.kubeconfig.user }}
  user:
    token: {{ kubernetes_settings.kubeconfig.token }}