{%- from "kubernetes/map.jinja" import kubernetes_settings with context %}
PEERS="{{ kubernetes_settings.weave.peers | reject('sameas', kubernetes_settings.weave.peer_filter) | join(' ') }}"
{%- if kubernetes_settings.weave.encrypt == True %}
WEAVE_PASSWORD={{ kubernetes_settings.weave.encrypt_password }}
{%- endif %}
WEAVE_MTU={{ kubernetes_settings.weave.mtu }}
IPALLOC_RANGE={{ kubernetes_settings.weave.cluster_cidr }}
{%- if kubernetes_settings.weave.disable_call_home == True %}
CHECKPOINT_DISABLE=1
{%- endif %}
WEAVEPROXY_ARGS="--rewrite-inspect --without-dns"
