{%- from "kubernetes/map.jinja" import kubernetes_settings with context %}
[Unit]
After=docker.service
Description=Weave proxy for Docker API
Documentation=http://weave.works/docs
Requires=docker.service
[Service]
EnvironmentFile=-/etc/default/weave
ExecStartPre={{ kubernetes_settings.weave.bin_directory }}/weave launch-proxy $WEAVEPROXY_ARGS
ExecStart=/usr/bin/docker attach weaveproxy
Restart=on-failure
ExecStop=/opt/bin/weave stop-proxy
[Install]
WantedBy=multi-user.target